/* App.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
}



.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}

main {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  width: 100%;
  max-width: 300px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.links-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.link-item {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.link-item:hover {
  transform: scale(1.1);
}

.link-item img {
  width: 40px;
  height: 40px;
}

.manage-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.manage-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
}

.manage-button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 400px) {
  .home {
    height: 40vh;
  }

  .links-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .link-item {
    width: 50px;
    height: 50px;
  }

  .link-item img {
    width: 30px;
    height: 30px;
  }

  .manage-button {
    width: 50%;
    text-align: center;
  }
}
